.app-container {
    background-color: #f8f9fa;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  
  .navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1.display-5 {
    color: #007bff;
  }
  
  .form-upload {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-container img {
    border-radius: 8px;
    max-height: 400px;
  }
  